*{box-sizing: border-box;
margin: 0;
padding: 0;}
body{background-image: url("img/rong.jpg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
			width: 100%;
			font-family: Roboto-Black;}
#top{
	position: sticky;
	top: 5px;
	z-index: 100;
}
ul{
	position: relative;
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	background:  rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);

}
ul li{
	position: relative;
	list-style: none;
	width: 170px;
	height: 30px;
	border-radius: 50px;
background: rgba(255, 255, 255, 0.1);
box-shadow:  9px 9px 18px rgba(0, 0, 0, 0.5),
             -9px -9px 18px rgba(0, 0, 0, 0.7);
	
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	
	transition: 0.5s;
}
ul li:hover{
	border-radius: 50px;
background:  linear-gradient(45deg,var(--i),var(--j));
box-shadow: inset 9px 9px 1px rgba(0, 0, 0, 0.5),
            inset -5px -5px 1px rgba(0, 0, 0, 0.7);
            
}


ul li ion-icon{
	color: #fff;
	font-size: 18px;
	transition: 0.5s;
	transition-delay: 0s;
	transform: translateX(-60px);
}
ul li:hover ion-icon {
	font-size: 14px;
	
}

ul li span{position: absolute;}
ul li .title{
	color: #fff;
	font-size: 15px;
	transform: scale(1);
	transition: 0.5s;
	transition-delay: 0s;
	transform: translateX(20px);
}
ul li:hover .title {
	font-size: 10px;
	
}

ul li a{text-decoration: none;
color: #fff}
li #tha{position: relative;display: inline-block;}
#tha1{position: absolute;
top: 40px;display: none;z-index: 50;padding: 10px;}
#menu{display: flex;
justify-content: center;
align-items: center;
flex-flow: column wrap;
margin-top: -15px;}
#menu a{
	border-radius: 50px;
background: rgba(255, 255, 255, 0.3);
box-shadow:  9px 9px 18px rgba(0, 0, 0, 0.5),
             -9px -9px 18px rgba(0, 0, 0, 0.7);
             width: 165px;
             height: 25px;
             margin-top: 5px;
             display: flex;
             justify-content: center;
             align-items: center;
             text-decoration: none;
             font-size: 18px;
}


li #tha2{position: relative;display: inline-block;}
#tha22{position: absolute;
top: 40px;display: none;z-index: 50;padding: 10px;}
#menu2{display: flex;
justify-content: center;
align-items: center;
flex-flow: column wrap;
margin-top: -15px;}
#menu2 a{
	border-radius: 50px;
background: rgba(255, 255, 255, 0.3);
box-shadow:  9px 9px 18px rgba(0, 0, 0, 0.5),
             -9px -9px 18px rgba(0, 0, 0, 0.7);
             width: 160px;
             height: 25px;
             margin-top: 5px;
             display: flex;
             justify-content: center;
             align-items: center;
             text-decoration: none;
             font-size: 16px;
}







div.gioithieu{position: relative;z-index: 1;display: flex;flex-flow: column wrap ;
justify-content: center;align-items: center;
width: 100%;margin-top: 10px;
}
h1.gioithieu1{position: relative;
-webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
outline: none;animation: sang 5s linear infinite;
text-align: center;
font-size: 20px;

}
@keyframes sang{
    0%{
        color:#0e3742 ;
        text-shadow: none;
    }
    100%{color:#fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 30px #03bcf4,
        0 0 50px #03bcf4,
        0 0 90px #03bcf4,
        0 0 100px #03bcf4,
        0 0 150px #03bcf4;
       

    }
}
.gioithieu1 img{object-fit: contain;width: 30px;
height: 30px;
box-shadow: 0 0 10px #FFFF66,
			0 0 20px #FFFF66,
			0 0 50px #FFFF66,
			0 0 80px #FFFF66;}
.lienhe{position: fixed;
		top: 550px;right: 60px;z-index: 10;
		background-color: #f434e2;
border: 2px soid #f434e2;
box-shadow: 3px 3px 7px 4px #f434e2;
border-radius: 30px;height: 75px;
width: 200px;


}
.lienhe1 a{text-decoration: none;
color:  #7ee8fa;}
 .lienhe1{
	font-size: 20px;text-align: center;margin-top: 10px;
-webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
outline: none;animation: sang1 5s linear infinite;
}
@keyframes sang1{
    0%{
        
        text-shadow: none;
    }
    100%{color:#fff;
        text-shadow: 0 0 10px #7ee8fa,
        0 0 30px #7ee8fa,
        0 0 50px #7ee8fa,
        0 0 90px #7ee8fa,
        0 0 100px #7ee8fa,
        0 0 150px #7ee8fa;
       

    }}
    #trai{display:flex;
    	flex-flow: column wrap;
    	width: 15%;
    	height: 700px;position:fixed;top: 5px;
    	gap: 0px 0px;left: -150px;
    	animation: trai 6s linear normal;
    	animation-fill-mode: forwards;
    	}
    	@keyframes trai{
    		0%{left: -150px;}
    		100%{left: 0;}
    	}
 #trai img{width: 150px;
 	height: 100px;
 	object-fit: contain;display: inline;margin: 0px;}
 #phai{display: flex;
    	flex-flow: column wrap;
    	width: 15%;
    	height: 700px;position:fixed;top: 5px;
    	gap: 0px 0px;
    	right: -205px;
    	animation: phai 6s linear normal;
    	animation-fill-mode: forwards;
    	}
    	@keyframes phai{
    		0%{right: -205px;}
    		100%{right: -49px;}
    	}
 #phai img{width: 150px;
 	height: 100px;
 	object-fit: contain;display: inline;margin: 0px;}
#dn{
 	position: relative;
 	text-align: center;
 	font-size: 25px;
 	background: rgba(255, 255, 255, 0.5);
 	width: 27%;left: 12%;
 	border-radius: 10px;
 	color: 	#FF0000;
 	margin-top: 10px;
 }
 .container{
	position: relative;
	display: flex;
justify-content: center;
align-items: center;
max-width:1200px ;
flex-flow: wrap;
z-index: 1;
margin-left: 40px;
}
.container .card{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);

}
.container .card .content{
	padding: 20px;
	text-align: center;
	transform: translateY(100px);
	opacity: 0;	
	transition: 0.5s;
}
.container .card:hover .content{
	transform: translateY(0px);
	opacity: 1;
}
.container .card .content h2{
	position: absolute;
	top: -10px;
	right: 55px;
	font-size: 25px;
	color: rgba(255, 255, 255, 0.3);
	pointer-events: none;

}
.container .card .content h3{
	font-size: 22px;
	color: #fff;
	z-index: 1;
}
.container .card .content p{
	font-size: 1em;
color: #fff;
font-weight: 300;
}
.container .card .content a{
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background: #fff;
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.container .card .content a:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 
				0 0 30px rgba(0, 0, 0, 0.5),
				0 0 50px rgba(0, 0, 0, 0.5),
				0 0 80px rgba(0, 0, 0, 0.5);
}
.container .card .content img{object-fit: contain;position: relative;
width: 200px;height: 150px;}
.container .card .content .icon1{position: relative;
	background: #fff;width: 60px;
height: 60px;border-radius: 60px;display:flex ;
justify-content: center;
align-items: center;font-size: 40px; margin-left: 70px;}
.icon .i{ position: absolute;}
.container .card .content .title1{color:#fff ;font-size: 23px;}






#cuoi{
	background: rgba(255, 255, 255, 0.1);
}
#cuoi1{
text-align: center;color: #fff;font-size: 10px;}
#cuoi1 img{width: 20px;
height: 20px;object-fit: contain;
box-shadow: 0 0 10px #FFFF66,
			0 0 20px #FFFF66,
			0 0 50px #FFFF66,
			0 0 80px #FFFF66;}
/* Quảng Cáo*/
.qc{position: relative;background:rgba(255, 255, 255, 0.1) ;
width: 70%;margin-left: 15%;
border-radius: 20px;margin-bottom: 20px;
border: 2px solid rgba(255, 255, 255, 0.2);
box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}
.qc1{
	color:#fff ;}
.qc3{color: #fff;font-size: 23px;}
.qc1 img{width: 50px;height: 50px;object-fit: contain;}
img.qc2{
	width: 100%;height:600px;
	object-fit: contain;
}
.qc a{
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background: #fff;
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	width: 19%;
	font-size: 30px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#fb{font-size: 12px;width: 100%;text-align: center;}
/* Nền bong bóng*/
.container1{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.bubbles{
	position: relative;
	display: flex;
}
.bubbles span{
	position: relative;
	width: 30px;
	height: 30px;
	background: #4fc3dc;
	margin: 0 4px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #4fc3dc44,
				 0 0  50px #4fc3dc,
				0 0  100px #4fc3dc;
	animation: animate 15s linear infinite;
	animation-duration: calc(125s / var(--i));

}
.bubbles span:nth-child(even){
	background: #ff2d75;
	box-shadow: 0 0 0 10px #ff2d7544,
	0 0  50px #ff2d75,
	0 0  100px #ff2d75;
}
@keyframes animate{
	0%{transform: translateY(100vh) scale(0);}
	100%{transform:translateY(-10vh) scale(1) ;}
}
.nen{position: fixed;
z-index: -2;display: none;}




/*Đồng hồ */
.datetime{
	color: #a1ffd9;
	background: #10101e;
	width: 180px;
	padding: 10px 5px;
	border-radius: 20px;
	border: 3px solid #2e94e3;
	-webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255, 255, 255, 0.1));
	transform: 0.5s;
	transition-property: background, box-shadow;
}

.date{
	font-size: 12px;
	
	text-align: center;
	text-shadow:0 0 10px #a1ffd9,
				0 0 20px #a1ffd9,
				0 0 40px #a1ffd9;
}
.time{
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.time span:not(:last-child){
	position: relative;
	margin: 0 6px;
	
	text-align: center;
	letter-spacing: 3px;
}
.time span:last-child{
	background: #2e94e3;
	font-size: 8px;
	
	text-transform: uppercase;
	margin-top: 10px;
	padding: 0 5px;
	border-radius: 3px;
}
.dongho{
	position: fixed;top: 50px;right: 180px;
	
}




















/* Lớn nhất*/
@media screen and (max-width: 1700px){

	#trai{height: 100%;}
	#trai img{height: 14.2%;object-fit: cover;}
	#phai{height: 100%;}
	#phai img{height: 14.2%;object-fit: cover;}
	@keyframes phai{100%{right: -6%;}}
	

}




/*width lớn 2*/
@media screen and (max-width: 1300px){
	
	#trai{height: 100%;}
	#trai img{height: 14.2%;object-fit: cover;}
	#phai{height:  100%;}
	#phai img{height:  14.2%;object-fit: cover;}
	@keyframes phai{100%{right: -45px;}}
	ul li{width: 140px;}
	ul li ion-icon{transform: translateX(-50px);}
	ul li .title{font-size: 11px;}
}



/*Width lớn*/
@media screen and (max-width: 1040px){
	h1.gioithieu1{font-size: 25px;}
	.gioithieu1 img{width: 20px;height: 20px;}
	@keyframes phai{100%{right: -5px;}}
	.lienhe{top: 520px;height: 45px;width: 150px;}
	.lienhe1{font-size: 12px;margin-top: 8px;}
	#dn{font-size: 20px;width: 32%;left: 17%;}
	.qc a{width: 24%;}
}



/* With lớn*/
@media screen and (max-width: 940px){
	body{background-image: none;
	background:#0c192c ;}
	.lienhe{top: 1050px;}
	#trai{display: none;}
	
	#phai{display: none;}
	
	h1.gioithieu1{font-size: 18px;}
	.gioithieu1 img{width: 30px;height: 30px;}
	#dn{font-size: 20px;width: 33%;}
	.qc a{width: 28%;}
	.dongho{top: 125px;right: 107px;}
	.datetime{width: 180px;padding: 0;}
	.date{font-size: 12px;}
	.time{font-size: 12px;}
	.nen{display: block;}
	ul li{width: 120px;}
	ul li ion-icon{transform: translateX(-30px);}
	ul li .title{font-size: 15px;}
	ul li:hover .title {
	font-size: 15px;
	
}
	#top{top: 10px;}
	

}



/* width lớn */
@media screen and (max-width: 850px){
	body{background-image: none;
	background:#0c192c ;}
	h1.gioithieu1{font-size: 14px;}
	
	.lienhe{top: 1060px;}
	#trai{display: none;}
	#phai{display: none;}
	#dn{font-size: 20px;width: 38%;}
	.qc a{width: 30%;}
	img.qc2{height: 300px;object-fit: cover;}
	.dongho{top: 151px;right: 64px;}
	.datetime{width: 180px;padding: 0;}
	.date{font-size: 12px;}
	.time{font-size: 12px;}
	.nen{display: block;}
	ul li{width: 80px;height: 20px;}
	ul li .title{font-size: 11px;transform: translateX(10px);}
	ul li:hover .title {
	font-size: 11px;}
	#top{top: 15px;}
	

}
/* width lớn thứ 2*/
@media screen and (max-width: 570px){
	body{background-image: none;
	background:#0c192c ;}

	
	/*gioithieu*/
	h1.gioithieu1{font-size: 12px;}
	.gioithieu1 img{width: 20px;height: 20px;}
	.lienhe{top: 725px;right: 30px;height: 40px;width: 130px;}
	.lienhe1{font-size: 12px;margin-top: 5px;}
	#trai{display: none;}
	#phai{display: none;}
	#dn{font-size: 14px;width: 58%;}
	#cuoi1{font-size: 13px;}
	.qc{margin-left: 0;width: 100%;}
	.qc a{width: 43%;}
	img.qc2{height: 200px;object-fit: cover;}
	.nen{display: block;}
	ul{gap: 5px}
	ul li{width: 75px;height: 20px;}
	ul li .title{font-size: 10px;transform: translateX(7px);}
	ul li:hover .title {
	font-size: 10px;}
	#top{top: 15px;}
	ul li ion-icon{font-size: 12px;
		transform: translateX(-25px);}
		ul li:hover ion-icon {
	font-size: 12px;
	
}
	.dongho{top: 94px;right: 30px;}
	.datetime{width: 135px;}
	.date{font-size: 10px;}
	.time{font-size: 10px;}	
	#menu a{width: 130px;height: 15px;
		font-size: 14px;}
	#menu{margin-top: -22px;}
	#menu2 a{width: 150px;height: 15px;
		font-size: 14px;}
	#menu2{margin-top: -22px;}
	
	
}
/* tiếp theo*/

@media screen and (max-width: 430px){
	body{background-image: none;
	background:#0c192c ;}

	
	/*gioithieu*/
	h1.gioithieu1{font-size: 12px;}
	.gioithieu1 img{width: 20px;height: 20px;}
	.lienhe{top: 725px;right: 30px;height: 40px;width: 130px;}
	.lienhe1{font-size: 12px;margin-top: 5px;}
	#trai{display: none;}
	#phai{display: none;}
	#dn{font-size: 14px;width: 58%;}
	#cuoi1{font-size: 13px;}
	.qc{margin-left: 0;width: 100%;}
	.qc a{width: 43%;}
	img.qc2{height: 200px;object-fit: cover;}
	.dongho{top: 91px;right: 4px;}
	.datetime{width: 120px;padding: 0;}
	.date{font-size: 8px;}
	.time{font-size: 7px;}
	#tha1{top: 30px}
	#tha22{top: 30px}
	
	
}
/* tiếp theo*/
@media(max-width: 400px){
	body{background-image: none;
	background:#0c192c ;}

	
	/*gioithieu*/
	h1.gioithieu1{font-size: 7px;}
	.gioithieu1 img{width: 10px;height: 10px;}
	.lienhe{top: 725px;right: 30px;height: 40px;width: 130px;}
	.lienhe1{font-size: 12px;margin-top: 5px;}
	#trai{display: none;}
	#phai{display: none;}
	#dn{font-size: 14px;width: 58%;}
	#cuoi1{font-size: 13px;}
	.qc{margin-left: 0;width: 100%;}
	.qc a{width: 43%;}
	img.qc2{height: 200px;object-fit: cover;}
	.dongho{top: 71px;right: 4px;}
	.datetime{width: 90px;padding: 0;}
	.date{font-size: 5px;}
	.time{font-size: 4px;}
	.time span:last-child{font-size: 4px;}
	ul li{width: 58px;height: 15px;}
	ul li ion-icon{font-size: 9px;
		transform: translateX(-22px);}
		ul li:hover ion-icon {
	font-size: 9px;
	
}
		ul li .title{font-size: 9px;transform: translateX(6px);}
		ul li:hover .title {
	font-size: 9px;}
	#menu a{width: 130px;height: 15px;
		font-size: 14px;}
	#menu{margin-top: -22px;}
	#menu2 a{width: 150px;height: 15px;
		font-size: 14px;}
	#menu2{margin-top: -22px;}
	
	
}
/* tiếp theo*/
@media screen and (max-width: 300px){
	
		h1.gioithieu1{font-size: 10px;}
		.lienhe{top: 573px;}
		#dn{font-size: 12px;width: 70%;}
		.container{margin-left: 10px;}
		.container .card .content p{font-size: 12px;}
		.container .card .content h3 {font-size: 17px;}
		#cuoi1{font-size: 10px;}
}
	
	
